<h1>Welcome to Shopping Genie</h1>
<div class="col-xs-4">
<form [formGroup]="login" class="fixed-bottom">
    <div class="form-group ">
        <label class="center-block">Username:
          <input class="form-control mr-sm-2" formControlName="username">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Password:
          <input class="form-control" formControlName="password" type="password">
        </label>
    </div>
    <button type="button"  (click)= "cancelPressed()" class="btn btn-secondary btn-lg">Cancel</button>
    <button (click)="loginPressed()" type="button"  class="btn btn-primary btn-lg ">Login</button>
   
</form>
</div>
<br>
<div>{{message}}</div>
