<h1>Welcome to Shopping Genie</h1>
<div>
<form [formGroup]="login">
    <div class="form-group ">
        <label class="center-block">Username:
          <input class="form-control" formControlName="username">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Password:
          <input class="form-control" formControlName="password" type="password" (keydown)="onKeydown($event)">
        </label>
    </div>
    <button type="button"  (click)= "cancelPressed()" class="btn btn-secondary btn-lg">Cancel</button>
    <button (click)="loginPressed()" type="button"  class="btn btn-primary btn-lg ">Login</button>
   
</form>
</div>
<br>
<div style="color:red;">{{message}}</div>
