<br>
<div class="mx-auto" style="width:50%;">
  <p>Please enter the items you want to add to your shopping list</p>
  Add your item : <input #searchbox id="search-box"[(ngModel)]="searchTerm" style="width:50%" (keydown)="onKeydown($event)"/> 
  <button  class="btn btn-info" style="width:25%" (click)="add(searchbox.value)">Add</button>
    <div class="col ">
      <h2 *ngIf="shoppingList.length > 0">My List</h2>
      <ul>
        <li  *ngFor="let item of shoppingList">
          <span>{{item}}</span>
          <span class="badge badge-danger float-right" (click)="removeItem(item)">X </span>
        </li>
      </ul>
    </div>  
    <button class="btn btn-success" style="width:100%" *ngIf="shoppingList.length > 0" (click)="submitList()">Submit my list</button>
</div>
